* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Josefin Sans', sans-serif;
  }
  
  :root {
    --primary: black;
    --secondary: #00573F;
    --tertiary: #1DB954;
    --text: #303030;
  }

  body {
    background: radial-gradient(#f2f3f4, #f5f5dc);
    color: var(--secondary);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
  
/* header */
  header {
      display: flex;
      justify-content: space-between;
      margin: 5% 10%;
      width: 85%;
  }

  header h2 {
    display: inline;
  }

  #seeHighScores:hover {
      cursor: pointer;
      transform: scale(1.02);
      color: var(--tertiary);
  }
  
 #timer {
      padding-right: 8vh;
      color: var(--primary);
      display: inline;
  }

/* global selectors */
.container {
    padding: 5%;
    flex-direction: column;
    width: 75%;
    margin: auto;
  }

/* starting screen */
.start {
    align-items: center;
    text-align: center;
    }

 h1 {
    color: var(--primary);
    font-size: 45px;
    font-weight: bold;
    margin-bottom: 5%;
  }