:root {
    --background-color: lightseagreen;
    --mainFont: white;
    --border: green;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background: radial-gradient(#e66465, #9198e5);
}

.container {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2%;
}

h1 {
    margin-bottom: 5%;
    color: var(--mainFont);
}

.column {
    display: flex;
    flex-direction: column;
}

.flex-center {
    justify-content: center;
    align-items: center;
}

.text-center {
    text-align: center;
}

.hidden {
    display: none;
}

.button {
    font-size: medium;
    padding: 8px 0;
    margin: 2% 0;
    width: 20vw;
    text-align: center;
    color: var(--mainFont);
    text-decoration: none;
    background: linear-gradient(45deg, green, goldenrod);
    border: 2px solid green;
    border-radius: 5px;
}

.button:hover {
    box-shadow: 0 0 20px white;
    transition: ease-in-out 0.2s;
    transform: scale(1.05);
}

#highScoresList {
    list-style: numbers;
    margin-bottom: 10%;
}

#submitScore {
    border-radius: 0px;
    border: 2px solid black;
    background: radial-gradient(white 1%, black);
    color: black;
    height: 5vh;
}