* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Josefin Sans', sans-serif;
  }
  
  :root {
    --primary: black;
    --secondary: #00573F;
    --tertiary: #1DB954;
    --text: #303030;
  }

  body {
    background: radial-gradient(#f2f3f4, #f5f5dc);
    color: var(--secondary);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
  
/* header */
header {
      display: flex;
      justify-content: space-around;
      margin-top: 5%;
      margin-bottom: 4%;
      width: 100%;
  }

header h2 {
    display: inline;
  }

#seeHighScores {
    display: flex;
    align-self: center;
}

#seeHighScores:hover {
      cursor: pointer;
      transform: scale(1.02);
      color: var(--tertiary);
  }

 #timer {
      padding-right: 8vh;
      color: var(--primary);
      display: inline;
  }

/* global selectors */
.container {
    padding: 5%;
    flex-direction: column;
    width: 75%;
    margin: auto;
}

.center {
    align-items: center;
    text-align: center;
}

/* starting screen */
 h1 {
    color: var(--primary);
    font-size: 45px;
    font-weight: bold;
    margin-bottom: 5%;
  }

  p {
    color: var(--text);
    font-size: x-large;
    margin-bottom: 5%;
  }

/* Questions */
#questionText {
    font-size: x-large;
    margin-bottom: 5%;
}

#answers {
    flex-direction: column;
    flex: wrap;
}

.button {
    padding: 10px;
    width: 46%;
    margin: 2%;
}

.button:hover {
    cursor: pointer;
    transform: scale(1.02);
    box-shadow: 0 0 10px var(--secondary);
    transition: ease-in-out 0.3s;
}

#highScoresDisplay {
  height: 200px;
}

#highScoresName{
  display: flex;
  flex-direction: column;
}

#highScoresScore{
  display: flex;
  flex-direction: column;
}

#highScoresContent {
  display: flex;
  justify-content: space-around;
}

#highScoresHeader {
  display: flex;
  justify-content: space-around;
  padding-bottom: 20px;
}

#gameOverButtons {
  display: flex;
  width: 100%;
  gap: 10px;
}

#playAgain,
#clearScores {
  width: 20%;
}

#finalScore {
  font-size: x-large;
  margin-bottom: 5%;
}